@import "../utils/variables";
@import "../utils/mixins";


.home-populardestinations {
	position: relative;
	padding: size(101) 0 size(92);

	@include max(992) {
		padding: size(50) 0 size(30);
	}


}


.popularbox {
	position: relative;
	display: block;
	border-radius: 15px;
	overflow: hidden;
	height: 297px;
	@include max(1200) {
		height: 170px;
	}

	figure {
		position: relative;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: 2s cubic-bezier(.165, .84, .44, 1);
		}

		&::after {
			position: absolute;
			content: '';
			background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 50%;
		}
	}

	.contwrap {
		position: absolute;
		bottom: 0;
		left: 0;
		color: #fff;
		width: 100%;
		padding: 20px;
		text-transform: uppercase;
		padding: 28px;
		@include max(992) {
			padding: 20px;
		}

		.day {
			font-size: size(16);
			color: #5EBF88;
			font-weight: 600;
			@include max(992) {
				font-size: 12px;
			}
		}

		.ttl {
			font-size: 20px;

			@include max(992) {
				font-size: 18px;
			}
		}
	}

	&:hover {
		figure {
			img {
				transform: scale(1.1);
			}
		}
	}
}